.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;

  border-radius: 0;

  padding: 0 10px;

  background-color: var(--mat-sys-surface-container-low);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: var(--mat-sys-surface-container-low);
}

.sidenav-svg {
  fill: var(--mat-sys-surface-container-low);
}

.hero-btn {
  padding: 8px 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
